{% extends 'randTeam/base.html' %}

{% load static %}

{% block content %}
    <form method="POST" action="{% url 'result'%}" enctype="multipart/form-data">
        {% csrf_token %}

        <h1>강의 제목</h1> 
        {{ form.course }}    

        <h1>'CSV(UTF-8) 쉼표로 분리' 포맷으로 제출해주세요.</h1>
        {{ form.csv_file }}
        <br>
        <br>

        <!-- <a href="{% url 'result' pk=csv_file.pk %}"> -->
        <!-- <a href="{% url 'result'%}"> -->

            <button type="submit"> 제출하기 </button>                              
        <!-- </a> -->

    </form>
    
{% endblock %}

