<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    
    <h2>서평 목록</h2>

    {% if object_list %}
    <ul>
      {% for r in object_list  %}
        <!-- 프로젝트 폴더에 등록한 app의 name 라벨 : url패턴에 있는 뷰 name-->
        <a href={% url 'myblog:book-detail' r.id %}>{{ r.title }}</a> | {{ r.score }}<br>
        <!-- <a href={{ r.book_info_url }}>{{ r.title }}</a> | {{ r.score }}<br> -->
        {{ r.review }} <br><br>
      {% endfor %}
    </ul>
    {% endif %}
    
    
    <!-- bootstrap style을 적용한다. -->
    {% if is_paginated %}
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <!-- url : /?page=1 -->
        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li> 
      {% else %}
        <li class="disabled"><span>&laquo;</span></li>
      {% endif %}

      {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="disabled"><span>&raquo;</span></li>
      {% endif %}

    </ul>

    {% endif %}

</body>
</html>

