<h1>hello</h1>

<form method="POST" action="{% url 'login' %}" class="sign-in-form">
        {% csrf_token %}
        <h2 class="sub-title"> 로그인 </h2>
        <!-- <input type="hidden" name="next" value="">
        {{form.as_p}} >> 기본으로 내장된 로그인 폼을 아래와 같이 커스터마이징 한다-->
        <div class="form-group">
          <label for="{{ form.username.id_for_label }}">닉네임</label>
          <input class="form-control" id="{{ form.username.id_for_label }}" maxlength="15" name="{{ form.username.html_name }}" type="text" />
        </div>
        <div class="form-group">
          <label for="{{ form.password.id_for_label }}">패스워드</label>
          <input class="form-control" id="{{ form.password.id_for_label }}" maxlength="120" name="{{ form.password.html_name }}" type="password" />
        </div>
        <input type="submit" class="save btn btn-success" value="로그인">
        <a href="{% url 'myblog:book-review' %}">
          <button type="button" class="btn btn-danger">취소</button>
        </a>
        <input type="hidden" name="next" value="">
      </form>
      

















<!-- 
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
        <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login">
<input type="hidden" name="next" value="{{ next }}">
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p> -->